
// COLORS
$assetPath: '../images/';

$primary-color: #76e8e4;
$secondary-color: #d3dbda;
$info-color: #db8456;
$white: #ffffff;
$black: #000000;
$grey: #36444a;

//TEXT COLORS
//TEXT COLORS
$text-green: #40cb5b;
$text-yellow: #fcf788;
$text-orange: #cc762d;
$text-grey: #7d8483;
$link: #18a9ea;


// BACKGROUNDS
$primary-bg: #171a1d;
$secondary-bg: #222528;
$well-bg-primary: #363838;
$well-bg-secondary: #2c3131;
$header-bg: #313538;
$brand-bg: #393d40;
$incedetns-bg: #15191d;

// FORM ELEMENTS
$primary-btn: #22c4a5;
$primary-btn-hover: #36dbbb;
$secondary-btn-bg: #a4bab6;
$secondary-btn-hover: #b6c7c4;
$form-fields-bg: $well-bg-primary;
$form-fields-border: #56867d;
$form-fields-active-text: $text-green;
$form-arrow-color: #55857c;
// TABLE
$table-head-bg: #26292c;
$table-row-bg: #202326;
$table-row-hover-bg: $well-bg-primary;
$table-row-border: #315252;
$table-row-striped: #232629;

//TABS
$tabs-primary-bg: $primary-btn;
$tabs-secondary-bg: #95bab3;

//DROPDOWN
$dropdown-bg: #4c5155;
$dropdown-border: #596462;